
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #606c38;
}

.logo{
    width: 90px;
}

.open-menu{
    display: none;
}

.navegacion{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.navegacion a{
    color: black;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.navegacion .navbar_link ul{
    display: flex;
}

.navegacion .navbar_link ul li{
    margin: 0 10px;
}

.navegacion .navbar_link ul li.active a{
    color: red;
    font-weight: 600;
}


.navegacion .menu-burger{
    display: none;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 35px;
}

