@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
}

header div{
    background-color: #588157;
}

.logo{
    width: 100px;
}

.navbar-toggler{
    background-color: #f1faee;
}

.title{
    font-size: 2em;
    font-family: 'DynaPuff', cursive;
}

.container{
    display: flex;
    flex-direction: column;
    height: 70vh;
    text-align: center;
    justify-content: center;
    background-image: url(./img/jardin\ botanico.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

.container h2{
    font-size: 4em;
    font-weight: bold;
    color: #fff;
}

.container h3{
    font-size: 3em;
    font-weight: bold;
    color: #fff;
}

.container2{
    background-image: url(./img/naturaleza1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.container2 h4{
    font-family: 'Alkatra', cursive;
    border: #fff solid 4px;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
    font-size: 2.5em;
}

.container2 li{
    margin: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.container2 img{
    padding: 0px;
    border: solid 5px black;
}

.container2 p{
    color: #fff;
    display: flex;
    margin: 5px;
    text-align: start;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.479);
    border: #fff solid 5px;
    font-family: 'Quicksand', sans-serif;

}

.container3{
    display: flex;
    flex-direction: column;
}

.container3 h4{
    margin: 10px;
    font-family: 'Alkatra', cursive;
    font-size: 2em;
    text-align: center;
}

.container3 p{
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
}

.container3 img{
    padding: 0px;
    border: solid 5px black;
}

.container3 h5{
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    background-color: #588157;
}
