@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
}

header div{
    background-color: #588157;
}

.logo{
    width: 100px;
}

.navbar-toggler{
    background-color: #f1faee;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    background-image: url(./img/pexels-luis-dalvan-1770809.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.container button{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #d1929b;
}

.container button:hover{
    background-color: #a5727a;
}

.container h2{
    font-size: 3em;
}

.container p{
    font-size: 1.2em;
}

.title{
    font-size: 2em;
    font-family: 'DynaPuff', cursive;
}


.container h3{
    font-size: 3em;
    font-weight: bold;
    color: #fff;
}



.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    display: flex;
    background-color: #24472c;
}

.footer_titulo{
    font-family: 'DynaPuff', cursive;
    font-size: 2.2em;
}

.footer a{
    font-size: 1em;
    color: #ccd3ce;
}

.icons_footer{
    font-size: 30px;
    text-align: center;
    width: 100%;
    background-color: #24472c;
}

.footer a:hover{
    color: #98a19b;
}

.footer img{
    width: 80px;
}

.footer p{
    padding: 10px;
    color: white;
    font-size: 0,9em;
}

.container4{
    text-align: center;
    height: 68.2vh;
    background-image: url(./img/sakura.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.container4 h2{
    padding: 50px;
    font-size: 2.5em;
    font-weight: bold;
}

.container4 p{
    font-size: 1.2em;
    font-weight: bold;
}

.container_flores{
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-image: url(./img/walla-botanico.jpg);
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.text1{
    font-family: 'Alkatra', cursive;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.boton{
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #f4acb7;
    width: 150px;
    height: 50px;
}

.boton:hover{
    background-color: #d1929b;
}

.text1{
    font-size: 1.9em;
    display: flex;
    background-position: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.grid_layaout{
    display: grid;
    justify-content: center;
    width: 100%;
    background-color: #ffcad4;
    padding: 50px;
}

.container5{
    display: grid;
    align-items: center;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    background-color: #fff;
    margin: 30px;
    text-align: center;
}

.container5 img{
    padding: 10px;
}

.container5 h3{
    padding: 25px;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;

}

.container5 span{
    padding: 10px;
    font-family: 'Brygada 1918', serif;
    font-size: 1.2em;
}

.container_flores p{
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.container5 p{
    padding: 10px;
    font-family: 'Merriweather', serif;
}

.imagen_caja{
    width: 340px;
    height: 200px;
}

.container6{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    height: 62vh;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-image: url(./img/pexels-cottonbro-studio-4068314.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 10px;
}

.container6 h2{
    font-size: 3em;
}

.container6 h3{
    font-size: 1.8em;
}

.container6 p{
    font-size: 1em;
}

.carousel-item{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.carousel-item img{
    filter: brightness(50%);
    height: 100%;
}

.container7{
    font-family: 'Alkatra', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #385738;
}

.container7 a{
    font-size: 0.8em;
    margin: 5px;
    color: #272d30;
}

.container7 a:hover{
    color: #1e2325;
}

.titulo2{
    background-color: #385738;
    font-family: 'Alkatra', cursive;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.titulo2 h4{
    padding: 4px;
    font-size: 1.6em;
}

.envio{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    padding: 10px;
}

.elEnvio{
    font-size: 0.8em;
    color: rgba(0,0,0,.5);
}

.titulo_tienda{
    font-family: 'Alkatra', cursive;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcad4;
}

.grid_layaout1{
    display: grid;
    justify-content: center;
    width: 100%;
    background-color: #ffcad4;
    padding: 50px;
}

.container8{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid #d3adb3 3px;
    height: 650px;
    width: 360px;
    margin: 50px;
}

.parrafo_tienda{
    padding: 5px;
    text-align: start;
}



.container8 h5{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding: 5px;
}

.container8 .envios_pais{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    color: #272d30;
}

.container8 span{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #4f772d;
}


.container8 button{
    background-color:  #da929e;
    color: white;
    font-size: 1.5em;
    border: none;
    width: 180px;
    height: 70px;
    border-radius: 6px;
}

.container8 button:hover{
    background-color: #af747e;
}

.list_style{
    text-align: start;
    list-style: inside;
}

.imagen_caja1{
    font-family: 'DynaPuff', cursive;
    width: 280px;
    height: 200px;
}

.container9{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 55vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-image: url(./img/pexels-andre-furtado-1264210.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.container9 button{
    border: none;
    background-color: #da929e;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    margin: 30px;
    height: 50px;
    width: 130px;
}

.container9 button:hover{
    background-color: #c07f8a;
}

.container9 h2{
    font-size: 3em;
}

.container9 h3{
    font-size: 1.7em;
}

.container10 h4{
    font-size: 2em;
}

.container10 h5{
    font-size: 1.5em;
}

.container11{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    background-size: cover;
    background-image: url(./img/pajaros-wallaper.jfif);
    background-position: center;
    padding: 0px;
    color: white;
}

.container11 iframe{
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
}

.container11 h4{
    padding: 10px;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.container11 p{
    margin: 10px;
    font-size: 1em;
}

.container12{
    display: flex;
    height: 70vh;
    display: flex;
    margin: 5px;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #a2d2ff;
    justify-content: center;
}

.container12 span{
    text-align: center;
    padding: 5px;
    font-size: 1.1em;
}

.container12 p{
    padding: 15px;
    font-weight: bold;
}

.container12 img{
    width: 300px;
}

.container12 h5{
    font-size: 1.5em;
}


.container13{
    background-image: url(./img/wallaper\ botanico.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.container13 h2{
    font-family: 'Alkatra', cursive;
    font-size: 2.5em;
    padding: 10px;
}

.container13 iframe{
    width: 100%;
    padding: 10px;
}

.transportes{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 150px;
    padding: 10px;
    margin: 10px;
    background-color: #bb7f8994;
}

.transporte i{
    display: flex;
    align-items: baseline;
    font-size: 1em;
    height: 50px;
    padding: 15px;
    flex-wrap: wrap;
}

.transportes span{
    
    border: solid 1px #a1636f;
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 768px) {
    main{
        font-size: 1.4em;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 83.7vh;
        
    }

    .container button{
        width: 200px;
        height: 70px;
    }

    .container4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 84vh;
    }

    .container_flores{
        height: 105vh;
    }

    .container5{
        height: 650px;
    }

    .container7{
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    
    .container6{
        display: flex;
        align-items: center;
        height: 120vh;
        text-align: center;
        font-size: 2em;
    }

    .carousel-item{
        width: 100%;
        max-width: 600px;
        height: 400px;
        font-size: 0.4em;
    }

    .carousel-item img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .grid_layaout1{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container9{
        font-size: 1.6em;
        height: 90vh;
    }

    .container9 button{
        font-size: 1em;
        height: 100px;
        width: 250px;
    }

    .container11{
        height: 120vh;
    }

    .grid_layaout{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container12{
    justify-content: baseline;
    display: flex;
    height: 120vh;
    width: 400px;
    }

    .container12 img{
    justify-content: baseline;
    }

    .container13 h2{
        font-size: 3em;
        padding: 20px;
    }

    .container13{
    display: flex;
    justify-content: center;
    }

    .container13 iframe{
        width: 40%;
        height: 300px;
    }

    .container13 h2{
    text-align: center;
    }

     a.nav-link{
        display: flex;
        justify-content: space-between;
        font-size: 1.3em;
    }
    
    .navbar-collapse{
        flex-grow: 0;
    }

    .container{
        max-width: 2000px;
    }

    .footer{
        
        flex-direction: row;
        height: 100px;
        padding: 0px;
    }
    
    .footer span{
    padding: 20px;
    }
    
    a.icons_footer{
    padding: 100px;
    justify-content: center;
    }

    .icons_footer i{
        font-size: 40px;
        margin: 10px;
    }
}

